# Credentials
.env

# Spotify Caches
.cache
.spotifycache
followed_artists_cache.json

# Performance & Exports
tracklist_*.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env/

# IDEs
.vscode/
.idea/

# PyInstaller / Compilation
build/
dist/
*.spec
